# Python
__pycache__/
*.pyc

# Large data
*.csv
*.tif
*.tiff
*.asc
*.nc
*.grd
*.zip
*.gpkg
*.shp
*.shx
*.cpg
*.dbf
*.prj
*.asc
*.bak
*.sqlite
*.qmd

# Folders
soil-ws
landuse-ws
dem-ws
grdc_timeseries
swatplus
scripts-hpc
continents
GLOBathy
GloBathyRasters
hydro-lakes
regions
ws
model-setup

# Binaries / containers
*.sif
*.def

data-preparation/resources/ESACCI-LC-Legend.xlsx
data-preparation/resources/__init__.py
data-preparation/resources/grdc_major_rivers.geojson
data-preparation/resources/rev60.5.7_64rel_linux
data-preparation/resources/shapes.dat