# Python
__pycache__
*.pyc

# Large data
*.pyc
*.csv
*.tif
*.tiff
*.asc
*.nc
*.grd
*.zip
*.gpkg
*.shp
*.shx
*.cpg
*.dbf
*.prj
*.asc
*.bak
*.sqlite
*.qmd

# Folders
CoSWAT-Lakes
soil-ws
landuse-ws
dem-ws
grdc_timeseries
swatplus
scripts-hpc
continents
GLOBathy
GloBathyRasters
hydro-lakes
regions
ws
model-setup

# Binaries / containers
*.sif
*.def

data-preparation/resources/ESACCI-LC-Legend.xlsx
data-preparation/resources/__init__.py
data-preparation/resources/grdc_major_rivers.geojson
data-preparation/resources/rev60.5.7_64rel_linux
data-preparation/resources/shapes.dat

data-preparation/resources/GRDC_Stations.xlsx
data-preparation/resources/aster-tile-links.txt
data-preparation/resources/swatplus-61.0.2.11-31-coswatn5-ifx-lin_x86_64
buildApptainer
coswat.tar
data-preparation/resources/QSWATPlus/.gitignore
data-preparation/resources/QSWATPlus/.pydevproject
data-preparation/resources/QSWATPlus/.settings/
data-preparation/resources/QSWATPlus/Changelog.txt
data-preparation/resources/QSWATPlus/DBUtils.py
data-preparation/resources/QSWATPlus/Databases/
data-preparation/resources/QSWATPlus/Doxyfile
data-preparation/resources/QSWATPlus/GlobalData/
data-preparation/resources/QSWATPlus/Makefile
data-preparation/resources/QSWATPlus/Makefile2
data-preparation/resources/QSWATPlus/PrintTemplate1Landscape.qpt
data-preparation/resources/QSWATPlus/PrintTemplate1Portrait.qpt
data-preparation/resources/QSWATPlus/PrintTemplate2Landscape.qpt
data-preparation/resources/QSWATPlus/PrintTemplate2Portrait.qpt
data-preparation/resources/QSWATPlus/PrintTemplate3Landscape.qpt
data-preparation/resources/QSWATPlus/PrintTemplate3Portrait.qpt
data-preparation/resources/QSWATPlus/PrintTemplate4Landscape.qpt
data-preparation/resources/QSWATPlus/PrintTemplate4Portrait.qpt
data-preparation/resources/QSWATPlus/PrintTemplate6Landscape.qpt
data-preparation/resources/QSWATPlus/PrintTemplate6Portrait.qpt
data-preparation/resources/QSWATPlus/QSWAT-Icon/256x256.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-128.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-128.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-32.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-32.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-64.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-QS-64.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-128.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-128.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-16.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-16.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-32.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-64.ico
data-preparation/resources/QSWATPlus/QSWAT-Icon/QSWAT-Icon-SWAT-64.png
data-preparation/resources/QSWATPlus/QSWAT-Icon/SWAT-Logo.png
data-preparation/resources/QSWATPlus/QSWATBatch.py
data-preparation/resources/QSWATPlus/QSWATPlusMain.py
data-preparation/resources/QSWATPlus/QSWATUtils.py
data-preparation/resources/QSWATPlus/SWAT32.png
data-preparation/resources/QSWATPlus/SWATPlus/
data-preparation/resources/QSWATPlus/TauDEMUtils.py
data-preparation/resources/QSWATPlus/WaterBase_logo24x14.png
data-preparation/resources/QSWATPlus/WaterBase_logo32x18.png
data-preparation/resources/QSWATPlus/WaterBase_logo40x23.png
data-preparation/resources/QSWATPlus/a.out
data-preparation/resources/QSWATPlus/about.py
data-preparation/resources/QSWATPlus/aboutdialog.py
data-preparation/resources/QSWATPlus/channel.qml
data-preparation/resources/QSWATPlus/channelandreservoir.qml
data-preparation/resources/QSWATPlus/comparedialog.py
data-preparation/resources/QSWATPlus/convertFromArc.py
data-preparation/resources/QSWATPlus/convertdialog.py
data-preparation/resources/QSWATPlus/cythoninit.py
data-preparation/resources/QSWATPlus/dataInC.pyi
data-preparation/resources/QSWATPlus/dataInC.pyx
data-preparation/resources/QSWATPlus/delineationdialog.py
data-preparation/resources/QSWATPlus/dem.qml
data-preparation/resources/QSWATPlus/drainarrows.qml
data-preparation/resources/QSWATPlus/drainchannels.qml
data-preparation/resources/QSWATPlus/elevationbands.py
data-preparation/resources/QSWATPlus/elevationbandsdialog.py
data-preparation/resources/QSWATPlus/exempt.py
data-preparation/resources/QSWATPlus/exemptdialog.py
data-preparation/resources/QSWATPlus/existingwshed.qml
data-preparation/resources/QSWATPlus/exporttable.py
data-preparation/resources/QSWATPlus/exporttabledialog.py
data-preparation/resources/QSWATPlus/flood.qml
data-preparation/resources/QSWATPlus/floodplain.py
data-preparation/resources/QSWATPlus/floodwhite.qml
data-preparation/resources/QSWATPlus/fullhrus.qml
data-preparation/resources/QSWATPlus/globals.py
data-preparation/resources/QSWATPlus/graphdialog.py
data-preparation/resources/QSWATPlus/graphdialog1.py
data-preparation/resources/QSWATPlus/grid.qml
data-preparation/resources/QSWATPlus/gridpoly.qml
data-preparation/resources/QSWATPlus/gwflow.py
data-preparation/resources/QSWATPlus/gwflowdialog.py
data-preparation/resources/QSWATPlus/hrus.py
data-preparation/resources/QSWATPlus/hrusdialog.py
data-preparation/resources/QSWATPlus/icon.png
data-preparation/resources/QSWATPlus/icon_without_map.ico
data-preparation/resources/QSWATPlus/icon_without_map.png
data-preparation/resources/QSWATPlus/imageio/
data-preparation/resources/QSWATPlus/jenks.pyx
data-preparation/resources/QSWATPlus/lakes.qml
data-preparation/resources/QSWATPlus/lakesnores.qml
data-preparation/resources/QSWATPlus/landscape.py
data-preparation/resources/QSWATPlus/landscapedialog.py
data-preparation/resources/QSWATPlus/lsus.qml
data-preparation/resources/QSWATPlus/make_uis.py
data-preparation/resources/QSWATPlus/metadata3_12.txt
data-preparation/resources/QSWATPlus/metadata3_32.txt
data-preparation/resources/QSWATPlus/metadata3_64.txt
data-preparation/resources/QSWATPlus/metadata3_9.txt
data-preparation/resources/QSWATPlus/metadataPlus.txt
data-preparation/resources/QSWATPlus/metadatalinux3_32.txt
data-preparation/resources/QSWATPlus/metadatalinux3_64.txt
data-preparation/resources/QSWATPlus/metadatamac3_32.txt
data-preparation/resources/QSWATPlus/metadatamac3_64.txt
data-preparation/resources/QSWATPlus/monkeytype.sqlite3
data-preparation/resources/QSWATPlus/mypy.ini
data-preparation/resources/QSWATPlus/outlets.qml
data-preparation/resources/QSWATPlus/outletsHUC.qml
data-preparation/resources/QSWATPlus/outletsdialog.py
data-preparation/resources/QSWATPlus/parameters.py
data-preparation/resources/QSWATPlus/parametersdialog.py
data-preparation/resources/QSWATPlus/pause-24x24.png
data-preparation/resources/QSWATPlus/play-24x24.png
data-preparation/resources/QSWATPlus/plugin_upload.py
data-preparation/resources/QSWATPlus/polygonize.py
data-preparation/resources/QSWATPlus/polygonizeInC.pyx
data-preparation/resources/QSWATPlus/polygonizeInC2.pyx
data-preparation/resources/QSWATPlus/polygons.qml
data-preparation/resources/QSWATPlus/ptsrcandreservoir.qml
data-preparation/resources/QSWATPlus/qswatdialog.py
data-preparation/resources/QSWATPlus/raster.py
data-preparation/resources/QSWATPlus/resources.qrc
data-preparation/resources/QSWATPlus/resources_rc.py
data-preparation/resources/QSWATPlus/rewind-24x24.png
data-preparation/resources/QSWATPlus/rivresults.qml
data-preparation/resources/QSWATPlus/runTauDEM.py
data-preparation/resources/QSWATPlus/selectlu.py
data-preparation/resources/QSWATPlus/selectludialog.py
data-preparation/resources/QSWATPlus/selectsubs.py
data-preparation/resources/QSWATPlus/selectsubsdialog.py
data-preparation/resources/QSWATPlus/setuppyx.py
data-preparation/resources/QSWATPlus/setuppyx3.12.py
data-preparation/resources/QSWATPlus/setuppyx3.9.py
data-preparation/resources/QSWATPlus/split.py
data-preparation/resources/QSWATPlus/splitdialog.py
data-preparation/resources/QSWATPlus/stream.qml
data-preparation/resources/QSWATPlus/subresults.qml
data-preparation/resources/QSWATPlus/swatgraph.py
data-preparation/resources/QSWATPlus/testdata/
data-preparation/resources/QSWATPlus/ui_about.py
data-preparation/resources/QSWATPlus/ui_about.ui
data-preparation/resources/QSWATPlus/ui_comparescenarios.py
data-preparation/resources/QSWATPlus/ui_comparescenarios.ui
data-preparation/resources/QSWATPlus/ui_convert.py
data-preparation/resources/QSWATPlus/ui_convert.ui
data-preparation/resources/QSWATPlus/ui_delineation.py
data-preparation/resources/QSWATPlus/ui_delineation.ui
data-preparation/resources/QSWATPlus/ui_elevationbands.py
data-preparation/resources/QSWATPlus/ui_elevationbands.ui
data-preparation/resources/QSWATPlus/ui_exempt.py
data-preparation/resources/QSWATPlus/ui_exempt.ui
data-preparation/resources/QSWATPlus/ui_exporttable.py
data-preparation/resources/QSWATPlus/ui_exporttable.ui
data-preparation/resources/QSWATPlus/ui_graph.py
data-preparation/resources/QSWATPlus/ui_graph.ui
data-preparation/resources/QSWATPlus/ui_graph1.py
data-preparation/resources/QSWATPlus/ui_gwflow.py
data-preparation/resources/QSWATPlus/ui_gwflow.ui
data-preparation/resources/QSWATPlus/ui_hrus.py
data-preparation/resources/QSWATPlus/ui_hrus.ui
data-preparation/resources/QSWATPlus/ui_hrus2.py
data-preparation/resources/QSWATPlus/ui_hrus4.py
data-preparation/resources/QSWATPlus/ui_hrus4.ui
data-preparation/resources/QSWATPlus/ui_landscape.py
data-preparation/resources/QSWATPlus/ui_landscape.ui
data-preparation/resources/QSWATPlus/ui_outlets.py
data-preparation/resources/QSWATPlus/ui_outlets.ui
data-preparation/resources/QSWATPlus/ui_parameters.py
data-preparation/resources/QSWATPlus/ui_parameters.ui
data-preparation/resources/QSWATPlus/ui_qswat.py
data-preparation/resources/QSWATPlus/ui_qswat.ui
data-preparation/resources/QSWATPlus/ui_selectlu.py
data-preparation/resources/QSWATPlus/ui_selectlu.ui
data-preparation/resources/QSWATPlus/ui_selectsubs.py
data-preparation/resources/QSWATPlus/ui_selectsubs.ui
data-preparation/resources/QSWATPlus/ui_split.py
data-preparation/resources/QSWATPlus/ui_split.ui
data-preparation/resources/QSWATPlus/ui_visualise.py
data-preparation/resources/QSWATPlus/ui_visualise.ui
data-preparation/resources/QSWATPlus/unins000.dat
data-preparation/resources/QSWATPlus/visualise.py
data-preparation/resources/QSWATPlus/visualisedialog.py
data-preparation/resources/QSWATPlus/waterbase small trans.png
data-preparation/resources/QSWATPlus/wshed.qml
data-preparation/resources/weather-lists/
local-scripts/
map.html
runApptainer